header img {
  height: 80px;
}

header {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 280px;
    display: flex;
    align-items: center;
}

body {
    margin-top: 280px;
}

